coverage
flake8==3.5.0
mock
monotonic
pre-commit==1.11.2
pyahocorasick
pytest
pyyaml
responses
tox-pip-extensions
tox>=3.8
unidiff
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
